<div class="classification-scale-nominal">

	<div class="classification-scale-nominal-header">
		<div class="classification-scale-nominal-header-title">
			<div class="classification-scale-nominal-header-title-spacer">Níveis de Maturidade</div>
			<button mat-stroked-button type="button" (click)="addClassification()" class="mat-stroked-button">
			<span class="mat-button-wrapper">
				Adicionar
				<i class="fa fa-plus"></i>
			</span>
			</button>
		</div>
	</div>
	<div class="classification-scale-nominal-body">
		<mat-accordion>
			<mat-expansion-panel *ngFor="let classification of classifications; let i = index"
								 [expanded]="mapCloseAccordion.get(i)"
								 (afterExpand)="afterExpand(classification)">
				<mat-expansion-panel-header ngClass="{{mapCloseAccordion.get(i) ? 'not-active' : ''}}">
					<input matInput value="{{(i + 1) + '. ' + (classification.name ? classification.name : '')}}" disabled placeholder="Nome"/>
					<button mat-icon-button type="button" (click)="deleteClassification(i)"
							class="mat-icon-button active">
						<mat-icon class="mat-icon material-icons" matTooltip="Excluir">
							<i class="fa fa-trash"></i>
						</mat-icon>
					</button>
				</mat-expansion-panel-header>

				<form [formGroup]="getClassificationForm(i)" (ngSubmit)="confirmClassification(i)">
					<mat-form-field class="col-md-12">
						<input matInput formControlName="name"
							   (change)="formChange(i)" placeholder="Nome"/>
					</mat-form-field>

					<mat-form-field class="col-md-12">
						<mat-select placeholder="Atributos de Processo" multiple formControlName="processAttributes">
							<mat-option *ngFor="let processAttribute of processAttributes" [value]="processAttribute.idProcessAttribute">
								{{processAttribute.name}}
							</mat-option>
						</mat-select>
					</mat-form-field>

					<level-scale-ordinal [knowledgeAreas]="knowledgeAreas"
										 [levels]="classification.levels"
										 (onUpdateLevels)="updateLevels($event, classification, i)">
					</level-scale-ordinal>
<!--					TODO Classificação por area de processo-->
<!--					<level-scale-nominal [knowledgeAreas]="knowledgeAreas"-->
<!--										 [goals]="goals"-->
<!--										 [levels]="classification.levels"-->
<!--										 [levelValues]="levelValues"-->
<!--										 (onUpdateLevels)="updateLevels($event, classification, i)">-->
<!--					</level-scale-nominal>-->
					<mat-action-row class="action-row">
						<button mat-raised-button [disabled]="loading" (click)="cancelClassification(i)"
								class="btn btn-outline-danger">
							Cancelar
						</button>
						<button mat-raised-button [disabled]="loading"
								class="btn btn-outline-success confirm-button">
							Confirmar
						</button>
					</mat-action-row>
				</form>
			</mat-expansion-panel>
		</mat-accordion>
	</div>
</div>
