<div class="classification-scale-nominal">

	<div class="classification-scale-nominal-header">
		<div class="classification-scale-nominal-header-title">
			<div class="classification-scale-nominal-header-title-spacer">Níveis de Maturidade</div>
			<button mat-stroked-button type="button" (click)="addClassification()" class="mat-stroked-button">
			<span class="mat-button-wrapper">
				Adicionar
				<i class="fa fa-plus"></i>
			</span>
			</button>
		</div>
	</div>
	<div class="classification-scale-nominal-body">
		<mat-accordion>
			<mat-expansion-panel *ngFor="let classification of classifications; let i = index">
				<mat-expansion-panel-header>
					<input matInput value="{{(i + 1) + '. ' + (classification.name ? classification.name : '')}}"
						   disabled placeholder="Nome"/>
					<button mat-icon-button type="button" (click)="deleteClassification(i)"
							class="mat-icon-button active">
						<mat-icon class="mat-icon material-icons" matTooltip="Excluir">
							<i class="fa fa-trash"></i>
						</mat-icon>
					</button>
				</mat-expansion-panel-header>

				<form [formGroup]="getClassificationForm(i)" (ngSubmit)="confirmClassification(i)">
					<mat-form-field class="col-md-12">
						<input matInput formControlName="name"
							   (change)="formChange(i)" placeholder="Nome"/>
					</mat-form-field>

					<mat-form-field class="col-md-12">
						<mat-select placeholder="Níveis de Capacidade" multiple formControlName="capacityLevels">
							<mat-option *ngFor="let capacityLevel of capacityLevels"
										[value]="capacityLevel.idCapacityLevel">
								{{capacityLevel.name}}
							</mat-option>
						</mat-select>
					</mat-form-field>

					<level-scale-ordinal [knowledgeAreas]="knowledgeAreas"
										 [levels]="classification.levels"
										 (onUpdateLevels)="updateLevels($event, classification, i)">
					</level-scale-ordinal>
					<mat-action-row class="action-row">
						<button mat-raised-button (click)="cancelClassification(i)"
								class="btn btn-outline-danger">
							Cancelar
						</button>
						<button mat-raised-button
								class="btn btn-outline-success confirm-button">
							Confirmar
						</button>
					</mat-action-row>
				</form>
			</mat-expansion-panel>
		</mat-accordion>
	</div>
</div>
