<h2>{{idDataSource ? 'Atualizar Fonte de Dados' : 'Cadastrar Fonte de Dados'}}</h2>
<form [formGroup]="dataSourceForm" (ngSubmit)="onSubmit()">
	<div class="form-group">
		<mat-form-field class="full-width-input">
			<input matInput spellcheck="false" formControlName="name" class="form-control" placeholder="Nome"
				   [ngClass]="{ 'is-invalid': submitted && f.name.errors }"/>
		</mat-form-field>
		<mat-error *ngIf="submitted && f.name.errors">Nome é obrigatório</mat-error>
		<div class="display-flex">
			<mat-form-field class="col-md-1 get-select">
				<mat-select [ngModel]="get" [ngModelOptions]="{standalone: true}" disabled>
					<mat-option value="GET">
						GET
					</mat-option>
				</mat-select>
			</mat-form-field>
			<mat-form-field class="col-md-11">
				<input matInput spellcheck="false" formControlName="url" class="form-control" placeholder="Url"/>
			</mat-form-field>
		</div>
		<mat-error *ngIf="submitted && f.url.errors?.required">Url é obrigatória</mat-error>
		<mat-error *ngIf="submitted && f.url.errors?.invalidUrl && !f.url.errors.required">Url inválida</mat-error>
		<div class="display-flex padding-bottom">
			<mat-slide-toggle class="is-accumulate" formControlName="authenticated"
							  labelPosition="before">Possui autenticação?
			</mat-slide-toggle>
			<i class="fa fa-info-circle icon-info"
			   matTooltip="Será enviado uma autenticação do tipo 'Basic' no header 'Authorization'."></i>
		</div>
		<div *ngIf="this.f.authenticated.value">
			<mat-form-field class="full-width-input">
				<input matInput spellcheck="false" formControlName="user" class="form-control" placeholder="Usuário"
					   [ngClass]="{ 'is-invalid': submitted && f.user.errors }"/>
			</mat-form-field>
			<mat-error *ngIf="submitted && f.name.errors">Usuário é obrigatório</mat-error>
			<mat-form-field class="full-width-input">
				<input matInput spellcheck="false" formControlName="password" class="form-control" placeholder="Senha"
					   [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>
			</mat-form-field>
			<mat-error *ngIf="submitted && f.name.errors">Senha é obrigatório</mat-error>
		</div>
	</div>
	<div class="form-group">
		<button *ngIf="dialogRef; else botaoCancelar" mat-raised-button (click)="cancel()" class="btn btn-outline-danger">Cancelar</button>
		<ng-template #botaoCancelar>
			<button mat-raised-button [routerLink]="['/data-source']" class="btn btn-outline-danger">Cancelar</button>
		</ng-template>
		<button mat-raised-button [disabled]="loading" class="btn btn-outline-success save-button">Salvar</button>
	</div>
</form>
