<h1 mat-dialog-title>Registro de Questões</h1>
<div mat-dialog-content class="dialog-question">
	<div class="question">
		<div class="question-header">
			<div class="question-header-title">
				<div class="question-header-title-spacer">Questões</div>
				<button mat-stroked-button type="button" (click)="addQuestion()" class="mat-stroked-button">
			<span class="mat-button-wrapper">
				Adicionar
				<i class="fa fa-plus"></i>
			</span>
				</button>
			</div>
		</div>
		<div class="question-body">
			<mat-accordion>
				<mat-expansion-panel *ngFor="let question of data.questions; let i = index"
									 [expanded]="mapCloseAccordion.get(i)">
					<mat-expansion-panel-header ngClass="{{mapCloseAccordion.get(i) ? 'not-active' : ''}}">
						<input matInput value="{{question.name}}" disabled placeholder="Questão {{i + 1}}"/>
						<button mat-icon-button type="button" (click)="deleteQuestion(i)"
								class="mat-icon-button active">
							<mat-icon class="mat-icon material-icons" matTooltip="Excluir">
								<i class="fa fa-trash"></i>
							</mat-icon>
						</button>
					</mat-expansion-panel-header>

					<form [formGroup]="questionForms[i]" (ngSubmit)="confirmQuestion(i)">
						<mat-tab-group>
							<mat-tab>
								<ng-template mat-tab-label>
									Questão
								</ng-template>
								<mat-form-field class="col-md-12">
									<input matInput formControlName="name"
										   (change)="formChange(i)" placeholder="Nome"/>
								</mat-form-field>
								<mat-form-field class="col-md-12">
									<mat-select placeholder="Resultado Esperado" formControlName="idExpectedResult"
												[ngClass]="{ 'is-invalid': submitted && f.idExpectedResult.errors }">
										<mat-option *ngFor="let expectedResult of data.node.expectedResults"
													[value]="expectedResult.idExpectedResult">
											{{expectedResult.name}}
										</mat-option>
									</mat-select>
								</mat-form-field>
								<mat-form-field class="col-md-12">
									<input matInput formControlName="tip"
										   (change)="formChange(i)"
										   placeholder="Dica"/>
								</mat-form-field>

								<mat-form-field class="col-md-12">
									<mat-select placeholder="Tipo" formControlName="type" disabled
												[ngClass]="{ 'is-invalid': submitted && f.type.errors }">
										<mat-option value="numeric">Numérico</mat-option>
										<mat-option value="text">Texto</mat-option>
										<mat-option value="scale-nominal">Escala Nominal</mat-option>
										<mat-option value="scale-numeric">Escala Numérica</mat-option>
										<mat-option value="boolean">Verdadeiro/Falso</mat-option>
									</mat-select>
								</mat-form-field>
							</mat-tab>
							<mat-tab>
								<ng-template mat-tab-label>
									Configuração
								</ng-template>
								<div class="display-flex">
									<mat-form-field *ngIf="isType(i, 'text')" class="col-md-6">
										<div formGroupName="config">
											<input matInput formControlName="minCharacters"
												   (change)="formChange(i)"
												   type="number"
												   placeholder="Caractéres Mínimos"/>
										</div>
									</mat-form-field>
									<mat-form-field *ngIf="isType(i, 'text')" class="col-md-6">
										<div formGroupName="config">
											<input matInput formControlName="maxCharacters"
												   (change)="formChange(i)"
												   type="number"
												   placeholder="Caractéres Máximos"/>
										</div>
									</mat-form-field>
								</div>
								<div class="display-flex">
									<mat-form-field *ngIf="isType(i, 'numeric')" class="col-md-6">
										<div formGroupName="config">
											<input matInput formControlName="minValue"
												   (change)="formChange(i)"
												   type="number"
												   placeholder="Valor Mínimo"/>
										</div>
									</mat-form-field>
									<mat-form-field *ngIf="isType(i, 'numeric')" class="col-md-6">
										<div formGroupName="config">
											<input matInput formControlName="maxValue"
												   (change)="formChange(i)"
												   type="number"
												   placeholder="Valor Máximo"/>
										</div>
									</mat-form-field>
								</div>
								<mat-slide-toggle class="col-md-12" formControlName="dependsOnAnyQuestion"
												  labelPosition="before">Depende de alguma questão?
								</mat-slide-toggle>
								<div *ngIf="dependsOnAnyQuestion(i)" class="display-flex">
									<mat-form-field class="col-md-6">
										<mat-select placeholder="Questão dependente"
													formControlName="idDependentQuestion"
													(selectionChange)="doChangeValue($event)"
													[ngClass]="{ 'is-invalid': submitted && f.idDependentQuestion.errors }">
											<mat-option *ngFor="let question of getQuestions(i)"
														[value]="question.idQuestion">
												{{question.name}}
											</mat-option>
										</mat-select>
									</mat-form-field>
									<mat-form-field class="col-md-6">
										<div formGroupName="dependentValue">
											<mat-select placeholder="Valor dependente" formControlName="id"
														[ngClass]="{ 'is-invalid': submitted && f.dependentValue.errors }">
												<mat-option *ngFor="let dependentValue of dependentValueByQuestion"
															[value]="dependentValue.id">
													<span>{{dependentValue.title}}</span>
													<i *ngIf="dependentValue.id === 'greaterThanEqual'"> &ge;</i>
													<i *ngIf="dependentValue.id === 'lessThanEqual'"> &le;</i>
												</mat-option>
											</mat-select>
										</div>
									</mat-form-field>
									<mat-form-field class="col-md-6 col-md" *ngIf="hasInputValueNumeric(i)">
										<div formGroupName="dependentValue">
											<input matInput formControlName="value"
												   (change)="formChange(i)"
												   type="number"
												   placeholder="Valor"/>
										</div>
									</mat-form-field>
									<mat-form-field class="col-md-6 col-md" *ngIf="hasInputValueText(i)">
										<div formGroupName="dependentValue">
											<input matInput formControlName="value"
												   (change)="formChange(i)"
												   [minlength]="getMinLength(i)"
												   [maxlength]=""
												   type="text"
												   placeholder="Valor"/>
										</div>
									</mat-form-field>
								</div>
								<mat-slide-toggle class="col-md-12" formControlName="hasDataSource"
												  labelPosition="before">Possui fonte de dados?
								</mat-slide-toggle>
							</mat-tab>
						</mat-tab-group>

						<mat-action-row class="action-row">
							<button mat-raised-button [disabled]="loading" (click)="cancelQuestion(i)"
									class="btn btn-outline-danger">
								Cancelar
							</button>
							<button mat-raised-button [disabled]="loading"
									class="btn btn-outline-success confirm-button">
								Confirmar
							</button>
						</mat-action-row>
					</form>
				</mat-expansion-panel>
			</mat-accordion>
		</div>
	</div>
</div>
<div mat-dialog-actions>
	<button mat-button (click)="onNoClick()">Cancelar</button>
	<button mat-button [mat-dialog-close]="data.questions" [disabled]="!isPossibleConfirm">Salvar</button>
</div>
