<h1 mat-dialog-title>Registro de Questões</h1>
<div mat-dialog-content class="dialog-question">
	<div class="question">
		<div class="question-header">
			<div class="question-header-title">
				<div class="question-header-title-spacer">Questões</div>
				<button mat-stroked-button type="button" [disabled]="!allValidForms"
						(click)="addQuestion()" class="mat-stroked-button">
			<span class="mat-button-wrapper">
				Adicionar
				<i class="fa fa-plus"></i>
			</span>
				</button>
			</div>
		</div>
		<div class="question-body">
			<mat-accordion>
				<mat-expansion-panel *ngFor="let question of data.questions; let i = index"
									 [expanded]="mapCloseAccordion.get(i)">
					<mat-expansion-panel-header ngClass="{{mapCloseAccordion.get(i) ? 'not-active' : ''}}">
						<input matInput value="{{i + 1 + '. ' + (question.name ? question.name : '')}}" disabled/>
						<button mat-icon-button type="button" (click)="deleteQuestion(i)"
								class="mat-icon-button active">
							<mat-icon class="mat-icon material-icons" matTooltip="Excluir">
								<i class="fa fa-trash"></i>
							</mat-icon>
						</button>
					</mat-expansion-panel-header>

					<form [formGroup]="questionForms[i]" (ngSubmit)="confirmQuestion(i)">
						<mat-tab-group>
							<mat-tab>
								<ng-template mat-tab-label>
									Questão
								</ng-template>
								<mat-form-field class="col-md-12">
									<mat-select *ngIf="data.node.expectedResults"
												placeholder="Resultado Esperado" formControlName="idExpectedResult"
												[ngClass]="{ 'is-invalid': submitted && f.idExpectedResult.errors }">
										<mat-option *ngFor="let expectedResult of data.node.expectedResults"
													[value]="expectedResult.idExpectedResult">
											{{expectedResult.name}}
										</mat-option>
									</mat-select>
									<mat-select *ngIf="data.node.processAttributeValues"
												placeholder="Resultado do atributo de processo"
												formControlName="idProcessAttributeValue">
										<mat-option
											*ngFor="let processAttributeValue of data.node.processAttributeValues"
											[value]="processAttributeValue.idProcessAttributeValue">
											{{processAttributeValue.name}}
										</mat-option>
									</mat-select>
								</mat-form-field>
								<mat-form-field class="col-md-12">
									<input matInput formControlName="name"
										   (change)="formChange(i)" placeholder="Texto da questão"/>
								</mat-form-field>
								<mat-form-field class="col-md-12">
									<input matInput formControlName="tip"
										   (change)="formChange(i)"
										   placeholder="Dica"/>
								</mat-form-field>

								<mat-form-field class="col-md-12">
									<mat-select placeholder="Tipo" formControlName="type"
												[ngClass]="{ 'is-invalid': submitted && f.type.errors }">
										<mat-option value="scale-nominal">Escala Ordinal</mat-option>
										<mat-option value="scale-numeric">Escala Numérica</mat-option>
										<mat-option value="boolean">Verdadeiro/Falso</mat-option>
									</mat-select>
								</mat-form-field>
							</mat-tab>
							<mat-tab>
								<ng-template mat-tab-label>
									Configuração
								</ng-template>
								<div class="display-inline-flex">
									<mat-slide-toggle class="col-md-6" formControlName="required"
													  (change)="changeQuestionRequired($event)"
													  labelPosition="before">Obrigatória
									</mat-slide-toggle>
									<mat-form-field class="col-md-6" *ngIf="!questionRequired">
										<mat-select placeholder="Valor padrão" formControlName="defaultValue"
													[ngClass]="{ 'is-invalid': submitted && f.defaultValue.errors }">
											<mat-option *ngFor="let defaultValue of defaultValues"
														[value]="defaultValue.value">
												<span>{{defaultValue.title}}</span>
											</mat-option>
										</mat-select>
									</mat-form-field>
								</div>
								<mat-slide-toggle class="col-md-12" formControlName="dependsOnAnyQuestion"
												  labelPosition="before">Depende de alguma questão?
								</mat-slide-toggle>
								<div *ngIf="dependsOnAnyQuestion(i)" class="display-flex">
									<mat-form-field class="col-md-6">
										<mat-select placeholder="Questão dependente"
													formControlName="idDependentQuestion"
													(selectionChange)="doChangeValue($event)"
													[ngClass]="{ 'is-invalid': submitted && f.idDependentQuestion.errors }">
											<mat-option *ngFor="let question of getQuestions(i)"
														[value]="question.idQuestion">
												{{question.name}}
											</mat-option>
										</mat-select>
									</mat-form-field>
									<mat-form-field class="col-md-6">
										<div formGroupName="dependentValue">
											<mat-select placeholder="Valor dependente" formControlName="id"
														[ngClass]="{ 'is-invalid': submitted && f.dependentValue.errors }">
												<mat-option *ngFor="let dependentValue of dependentValueByQuestion"
															[value]="dependentValue.id">
													<span>{{dependentValue.title}}</span>
												</mat-option>
											</mat-select>
										</div>
									</mat-form-field>
								</div>
							</mat-tab>
						</mat-tab-group>

						<mat-action-row class="action-row">
							<button mat-raised-button [disabled]="loading"
									class="btn btn-outline-danger">
								Cancelar
							</button>
							<button mat-raised-button [disabled]="loading"
									class="btn btn-outline-success confirm-button">
								Confirmar
							</button>
						</mat-action-row>
					</form>
				</mat-expansion-panel>
			</mat-accordion>
		</div>
	</div>
</div>
<div mat-dialog-actions>
	<button mat-button (click)="onNoClick()">Cancelar</button>
	<button mat-button [mat-dialog-close]="data.questions" [disabled]="!isPossibleConfirm">Salvar</button>
</div>
