<h1 mat-dialog-title>Questions Register</h1>
<div mat-dialog-content>
	<div class="question">
		<div class="question-header">
			<div class="question-header-title">
				<div class="question-header-title-spacer">Questions</div>
				<button mat-icon-button type="button" (click)="addQuestion()" class="mat-icon-button">
			<span class="mat-button-wrapper">
				<mat-icon class="mat-icon material-icons">
					<i class="fa fa-plus"></i>
				</mat-icon>
			</span>
				</button>
			</div>
		</div>
		<div class="question-body">
			<mat-accordion>
				<mat-expansion-panel *ngFor="let question of data.questions; let i = index"
									 [expanded]="mapCloseAccordion.get(i)">
					<mat-expansion-panel-header ngClass="{{mapCloseAccordion.get(i) ? 'not-active' : ''}}">
						<input matInput value="{{question.name}}" disabled placeholder="Question"/>
						<button mat-icon-button type="button" (click)="deleteQuestion(i)"
								class="mat-icon-button active">
							<mat-icon class="mat-icon material-icons">
								<i class="fa fa-remove"></i>
							</mat-icon>
						</button>
					</mat-expansion-panel-header>

					<form [formGroup]="questionForms[i]" (ngSubmit)="confirmQuestion(i)">
						<mat-tab-group>
							<mat-tab>
								<ng-template mat-tab-label>
									Question
								</ng-template>
								<mat-form-field class="col-md-12">
									<input matInput formControlName="name"
										   (change)="formChange(i)" placeholder="Name"/>
								</mat-form-field>
								<mat-form-field class="col-md-12">
									<input matInput formControlName="tip"
										   (change)="formChange(i)"
										   placeholder="Tip"/>
								</mat-form-field>

								<mat-form-field class="col-md-12">
									<mat-select placeholder="Expected Result" formControlName="idExpectedResult"
												[ngClass]="{ 'is-invalid': submitted && f.idExpectedResult.errors }">
										<mat-option *ngFor="let expectedResult of data.node.expectedResults"
													[value]="expectedResult.idExpectedResult">
											{{expectedResult.name}}
										</mat-option>
									</mat-select>

								</mat-form-field>
								<mat-checkbox class="col-md-12" formControlName="dependsOnAnyQuestion"
											  labelPosition="before">Depends on any question?
								</mat-checkbox>
								<mat-form-field class="col-md-12" *ngIf="dependsOnAnyQuestion(i)">
									<mat-select placeholder="Dependent Question" formControlName="idDependentQuestion"
												[ngClass]="{ 'is-invalid': submitted && f.idDependentQuestion.errors }">
										<mat-option *ngFor="let question of data.questions"
													[value]="question.idQuestion">
											{{question.name}}
										</mat-option>
									</mat-select>
								</mat-form-field>
							</mat-tab>
						</mat-tab-group>

						<mat-action-row class="action-row">
							<button mat-raised-button [disabled]="loading"
									class="btn btn-outline-success confirm-button">
								Confirm
							</button>
							<button mat-raised-button [disabled]="loading" (click)="cancelQuestion(i)"
									class="btn btn-outline-danger">
								Cancel
							</button>
						</mat-action-row>
					</form>
				</mat-expansion-panel>
			</mat-accordion>
		</div>
	</div>
</div>
<div mat-dialog-actions>
	<button mat-button (click)="onNoClick()">No Thanks</button>
	<button mat-button [mat-dialog-close]="data.questions">Ok</button>
</div>
