.dialog-question {
	height: 470px;

	.question {

		border: 1px solid #00000008;
		background-color: #f2f2f2;
		box-shadow: 0 2px 2px #0000003d, 0 0 2px #0000001f;
		min-height: 470px;

		.question-header {

			.question-header-title {
				align-content: center;
				align-items: center;
				display: flex;
				justify-content: center;
				padding: 4px 20px;

				.question-header-title-spacer {
					flex: 1 1 auto;
					color: #0000008a;
				}
			}
		}

		.question-body {
			background-color: #fafafa;
			padding: 10px;
			min-height: 410px;

			.action-row {
				padding-top: 10px;
				padding-bottom: 0;
			}

			.not-active {
				pointer-events: none;
				cursor: default;
			}

			.active {
				pointer-events: all !important;
				cursor: pointer;
			}

			.confirm-button {
				margin-right: 5px;
			}

			.question-info-path {
				padding-top: 2%;
			}

			.config-update-value {
				max-width: 12% !important;
			}
		}
	}
}
