<h1 mat-dialog-title class="text-center">{{'Resultados do atributo de processo: ' + data.processAttribute.prefix + ' ' + data.processAttribute.name}}</h1>
<div mat-dialog-content>
	<highcharts-chart update
					  [Highcharts]="highcharts"
					  [options]="chartOptions">
	</highcharts-chart>
	<div class="legend-view process-attribute-legend-view">
			<span *ngFor="let rating of data.jsonAssessment.measurementFramework.ratings" class="rating-legend-value">
				<span class="legend-color" [ngClass]="getColor(rating.id)"></span>
				<span>{{rating.name[0] + ' - ' + rating.name}}</span>
			</span>
	</div>
</div>

<div mat-dialog-actions>
	<button mat-button (click)="dialogRef.close(false)">Fechar</button>
</div>
