<mat-form-field class="col-md-12">
	<mat-select placeholder="Processos" multiple (openedChange)="openLevelValues($event)"
				[formControl]="valuesForm">
		<mat-optgroup *ngFor="let knowledgeArea of knowledgeAreas" [label]="(knowledgeArea.prefix ? knowledgeArea.prefix + ' - ' : '') + knowledgeArea.name">
			<mat-option *ngFor="let process of knowledgeArea.processes; let indexProcess = index" [value]="process.idProcess"
						(onSelectionChange)="updateLevel($event, knowledgeArea.idKnowledgeArea)">
				{{(indexProcess + 1) + '. ' + process.prefix + '. ' + process.name}}
			</mat-option>
		</mat-optgroup>
	</mat-select>
</mat-form-field>
