<div class="signin-content">
	<mat-card>
		<mat-card-content>
			<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
				<p>Faça o login para continuar  </p>

				<div class="form-group">
					<mat-form-field class="full-width-input">
						<input matInput formControlName="username" class="form-control" placeholder="Usuário"
							   [ngClass]="{ 'is-invalid': submitted && f.username.errors }"/>
					</mat-form-field>
					<div *ngIf="submitted && f.password.errors" class="invalid-feedback">
						<div *ngIf="f.password.errors.required">Usuário é obrigatório</div>
					</div>

					<mat-form-field class="full-width-input">
						<input matInput type="password" placeholder="Senha" formControlName="password"
							   [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
					</mat-form-field>
					<div *ngIf="submitted && f.password.errors" class="invalid-feedback">
						<div *ngIf="f.password.errors.required">Senha é obrigatória</div>
					</div>
				</div>
				<div class="form-group">
					<button mat-raised-button [disabled]="loading" class="btn btn-outline-primary">Login</button>
					<a [routerLink]="['/user']" class="btn btn-link">Cadastrar</a>
				</div>
			</form>
		</mat-card-content>
	</mat-card>
</div>
