@import '~bootstrap/scss/bootstrap';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~font-awesome/css/font-awesome.css';

html, body {
	height: 100%;
}

body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

.example-container {
	height: 50%;
	margin: 10px;
}

mat-card {
	max-width: 400px;
	margin: 2em auto;
	text-align: center;
}

.signin-content {
	padding: 60px 1rem;
}

.full-width-input {
	width: 100%;
}
