@import '~bootstrap/scss/bootstrap';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

$fa-font-path: "~font-awesome/fonts" !default;
@import '~font-awesome/scss/font-awesome';

html, body {
	height: 100%;
}

body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

.example-container {
	height: 50%;
	margin: 10px;
}

mat-card {
	max-width: 400px;
	margin: 2em auto;
	text-align: center;
}

.signin-content {
	padding: 60px 1rem;
}

.full-width-input {
	width: 100%;
}

.max-width-97 {
	max-width: 97% !important;
}

.mat-dialog-content {
	max-height: 74vh !important;
}

mat-expansion-panel-header {
	height: 40px !important;
}

.mat-horizontal-content-container {
	padding: 0 24px 0 24px !important;
}

.mat-expansion-panel-body {
	padding: 0 24px;
}

.display-block {
	display: block;
}

.display-flex {
	display: flex;
}

.display-inline-flex {
	display: inline-flex;
}

.error-message {
	display: block;
	padding-left: 15px;
}

mat-step-header {
	pointer-events: none;
}

mat-radio-button.mat-accent .mat-radio-inner-circle {
	background-color: #808080 !important;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
	border-color: #808080 !important;
}

.mat-step-header .mat-step-icon-state-done {
	background-color: limegreen;
}

.mat-step-header .mat-step-icon-selected {
	background-color: #808080 !important;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
	background-color: #808080;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
	background-color: #b9b9b9;
}
