<div class="knowledge-area">

	<div class="knowledge-area-header">
		<div class="knowledge-area-header-title">
			<div class="knowledge-area-header-title-spacer">Grupos de Processo</div>
			<button mat-stroked-button type="button" (click)="addKnowledgeArea()" class="mat-stroked-button">
			<span class="mat-button-wrapper">
				Adicionar
				<i class="fa fa-plus"></i>
			</span>
			</button>
		</div>
	</div>
	<div class="knowledge-area-body">
		<mat-accordion>
			<mat-expansion-panel *ngFor="let knowledgeArea of knowledgeAreas; let i = index"
								 [expanded]="mapCloseAccordion.get(i)">
				<mat-expansion-panel-header ngClass="{{mapCloseAccordion.get(i) ? 'not-active' : ''}}">
					<input matInput value="{{knowledgeArea.name}}" disabled placeholder="Grupo de Processo"/>
					<button mat-icon-button type="button" (click)="deleteKnowledgeArea(i)"
							class="mat-icon-button active">
						<mat-icon class="mat-icon material-icons" matTooltip="Excluir">
							<i class="fa fa-trash"></i>
						</mat-icon>
					</button>
				</mat-expansion-panel-header>

				<form [formGroup]="getKnowledgeAreaForm(i)" (ngSubmit)="confirmKnowledgeArea(i)">
					<mat-form-field class="col-md-12">
						<input matInput formControlName="name"
							   (change)="formChange(i)" placeholder="Nome"/>
					</mat-form-field>
					<mat-form-field class="padding-top col-md-12">
						<textarea matInput
								  cdkTextareaAutosize
								  cdkAutosizeMinRows="1"
								  cdkAutosizeMaxRows="5"
								  formControlName="purpose"
								  (change)="formChange(i)"
								  placeholder="Objetivo"></textarea>
					</mat-form-field>
					<div class="process-button">
						<a mat-raised-button (click)="openDialog(i)"
								class="btn btn-outline-secondary btn-sm">
							Processos: {{knowledgeArea.processes ? knowledgeArea.processes.length : 0}}
						</a>
					</div>
					<mat-action-row class="action-row">
						<button mat-raised-button [disabled]="loading" (click)="cancelKnowledgeArea(i)"
								class="btn btn-outline-danger">
							Cancelar
						</button>
						<button mat-raised-button [disabled]="loading || !allValidForms()" class="btn btn-outline-success confirm-button">
							Confirmar
						</button>
					</mat-action-row>
				</form>
			</mat-expansion-panel>
		</mat-accordion>
	</div>
</div>
