<div class="knowledge-area">

	<div class="knowledge-area-header">
		<div class="knowledge-area-header-title">
			<div class="knowledge-area-header-title-spacer">Knowledge Areas</div>
			<button mat-icon-button type="button" (click)="addKnowledgeArea()" class="mat-icon-button">
			<span class="mat-button-wrapper">
				<mat-icon class="mat-icon material-icons">
					<i class="fa fa-plus"></i>
				</mat-icon>
			</span>
			</button>
		</div>
	</div>
	<div class="knowledge-area-body">
		<mat-accordion>
			<mat-expansion-panel *ngFor="let knowledgeArea of knowledgeAreas; let i = index"
								 [expanded]="mapCloseAccordion.get(i)">
				<mat-expansion-panel-header ngClass="{{mapCloseAccordion.get(i) ? 'not-active' : ''}}">
					<input matInput value="{{knowledgeArea.name}}" disabled placeholder="Name"/>
					<button mat-icon-button type="button" (click)="deleteKnowledgeArea(i)"
							class="mat-icon-button active">
						<mat-icon class="mat-icon material-icons">
							<i class="fa fa-remove"></i>
						</mat-icon>
					</button>
				</mat-expansion-panel-header>

				<form [formGroup]="knowledgeAreaForm" (ngSubmit)="confirmKnowledgeArea(i, knowledgeArea)">
					<mat-panel-title class="padding-top">
						<mat-form-field>
							<input matInput formControlName="name" value="{{knowledgeArea.name}}"
								   (change)="formChange(i)" placeholder="Name"/>
						</mat-form-field>
						<div *ngIf="submitted && f.name.errors" class="invalid-feedback">
							<div *ngIf="f.name.errors.required">Name is required</div>
						</div>
					</mat-panel-title>
					<div class="padding-top">
						<mat-form-field>
							<input matInput formControlName="purpose" value="{{knowledgeArea.purpose}}"
								   (change)="formChange(i)"
								   placeholder="Purpose"/>
						</mat-form-field>
					</div>
					<mat-action-row class="action-row">
						<button mat-raised-button [disabled]="loading" class="btn btn-primary confirm-button">
							Confirm
						</button>
						<a [routerLink]="['/reference-model']" class="btn btn-danger">Cancel</a>
					</mat-action-row>
				</form>

			</mat-expansion-panel>
		</mat-accordion>
	</div>
</div>
