<loading [isLoading]="loading"></loading>

<h2>Avaliações</h2>

<div>
	<a [routerLink]="['/assessment/register']" class="btn btn btn-outline-secondary col-md-3">
		Iniciar nova Avaliação
		<i class="fa fa-plus"></i>
	</a>
	<mat-form-field class="col-md-9">
		<input matInput spellcheck="false" (keyup)="applyFilter($event.target.value)" placeholder="Filtro">
	</mat-form-field>

	<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

		<ng-container matColumnDef="measurementFramework">
			<th mat-header-cell *matHeaderCellDef mat-sort-header> Modelo de Avaliação</th>
			<td mat-cell *matCellDef="let element"> {{element.jsonAssessment.measurementFramework.name}}</td>
		</ng-container>
		<ng-container matColumnDef="status">
			<th mat-header-cell *matHeaderCellDef mat-sort-header> Status</th>
			<td mat-cell *matCellDef="let element"> {{formatStatus(element.status)}}</td>
		</ng-container>
		<ng-container matColumnDef="date">
			<th mat-header-cell *matHeaderCellDef mat-sort-header> Data</th>
			<td mat-cell *matCellDef="let element"> {{formatDate(element.date) | date:'dd/MM/yyyy HH:mm:ss'}}</td>
		</ng-container>
		<ng-container matColumnDef="actions">
			<th mat-header-cell *matHeaderCellDef mat-sort-header class="column-action"> Ações</th>
			<td mat-cell *matCellDef="let element">
				<button mat-button *ngIf="element.status === 'finalized';else edit"
						[routerLink]="['/assessment/view/', element.idAssessment]"
						class="btn btn-sm" matTooltip="Visualizar">
					<i class="fa fa-eye"></i>
				</button>
				<ng-template #edit>
					<button mat-button [routerLink]="['/assessment', element.idAssessment]"
							class="btn btn-sm" matTooltip="Editar">
						<i class="fa fa-edit"></i>
					</button>
				</ng-template>
				<button mat-button (click)="openConfirmationDialog(element)" class="btn btn-sm"
						matTooltip="Excluir">
					<i class="fa fa-trash"></i>
				</button>
			</td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
	</table>
	<mat-paginator [length]="dataSource.data.length"
				   [pageSize]="10"
				   [pageSizeOptions]="[5, 10, 25, 100]" [showFirstLastButtons]="true">
	</mat-paginator>
</div>
