<loading [isLoading]="loading"></loading>

<h2>Avaliação</h2>

<mat-horizontal-stepper [linear]="true" #stepper class="register-assessment">
	<ng-template matStepperIcon="edit">
		<i class="fa fa-edit"></i>
	</ng-template>
	<ng-template matStepperIcon="done">
		<i class="fa fa-check"></i>
	</ng-template>
	<mat-step [stepControl]="assessmentForm">
		<form [formGroup]="assessmentForm">
			<ng-template matStepLabel>Selecione um modelo de avaliação</ng-template>
			<div class="form-group" formGroupName="jsonAssessment">
				<mat-form-field class="full-width-input">
					<mat-select placeholder="Modelo de Avaliação" formControlName="measurementFramework"
								(selectionChange)="changeMeasurementFramework($event.value)"
								[disabled]="!!idAssessment">
						<div *ngIf="!idAssessment">
							<mat-option *ngFor="let measurementFramework of measurementFrameworks"
										[value]="measurementFramework">
								{{measurementFramework.name}}
							</mat-option>
						</div>
						<mat-option *ngIf="idAssessment && measurementFramework" [value]="measurementFramework"
									disabled>
							{{measurementFramework.name}}
						</mat-option>
					</mat-select>
				</mat-form-field>
				<mat-error *ngIf="submitted && f.jsonAssessment.controls.measurementFramework.errors?.required">
					Modelo de Avaliação é obrigatório
				</mat-error>
			</div>

			<div class="form-group" formGroupName="jsonAssessment" *ngIf="measurementFramework">
				<mat-form-field class="full-width-input">
					<mat-select placeholder="Nível Alvo" formControlName="targetLevel"
								(selectionChange)="changeTargetLevel($event.value)" [disabled]="!!idAssessment">
						<div *ngIf="!idAssessment">
							<mat-option
								*ngFor="let classification of measurementFramework.classifications; let indexClassification = index"
								[value]="classification">
								{{indexClassification + 1 + '. ' + classification.name}}
							</mat-option>
						</div>
						<mat-option *ngIf="idAssessment && classification" [value]="classification" disabled>
							{{classification.name}}
						</mat-option>
					</mat-select>
				</mat-form-field>
				<mat-error *ngIf="submitted && f.jsonAssessment.controls.targetLevel.errors?.required">
					Nível alvo é obrigatório
				</mat-error>
			</div>

			<div class="form-group">
				<button mat-raised-button class="btn btn-outline-danger" [routerLink]="['/assessment']">
					Cancelar
				</button>
				<button mat-raised-button class="mat-raised-button btn btn-outline-secondary" (click)="checkForms()"
						matStepperNext>Próximo
				</button>
			</div>
		</form>
	</mat-step>
	<div *ngIf="measurementFramework && referenceModel && processes && processAttributes">
		<mat-step [stepControl]="assessmentForm" *ngFor="let process of processes; let indexProcess = index">
			<form [formGroup]="assessmentForm">
				<ng-template matStepLabel>{{process.name}}</ng-template>
				<div class="form-group">
					<mat-card *ngIf="hasQuestions(process)" class="card-process">
						<mat-card-content>
							<div class="process-title">{{process.name}}</div>
							<div class="purpose">{{process.purpose}}</div>
							<question-assessment [resultForms]="getResultForms.value"
												 [questions]="getQuestions(process)"
												 [process]="process"
												 [finish]="isFinish"
												 [ratings]="ratings">
							</question-assessment>
						</mat-card-content>
					</mat-card>
				</div>
				<div class="form-group">
					<button mat-raised-button class="btn btn-outline-secondary" matStepperPrevious>Voltar</button>
					<span *ngIf="!openResult && isLastProcess(indexProcess); else buttonNext">
					<button mat-raised-button (click)="onSubmit()" [disabled]="loading"
							class="btn btn-outline-success save-button">Salvar
					</button>
					<button mat-raised-button (click)="finish(stepper)" [disabled]="loading"
							class="btn btn-outline-success save-button">Salvar e Finalizar
					</button>
				</span>
					<ng-template #buttonNext>
						<button mat-raised-button class="mat-raised-button btn btn-outline-secondary"
								(click)="checkForms()"
								matStepperNext>Próximo
						</button>
					</ng-template>
				</div>
			</form>
		</mat-step>
	</div>

	<mat-step [stepControl]="assessmentForm" *ngIf="openResult">
		<form [formGroup]="assessmentForm" *ngIf="assessment?.jsonAssessment?.levelResults">
			<ng-template matStepLabel>Resultado da avaliação</ng-template>
			<div class="form-group">
				<mat-card>
					<mat-card-title class="title-card">
						Dados da avaliação
					</mat-card-title>
					<mat-card-content>
						<div class="label">Data da Avaliação: {{getDate | date:'dd/MM/yyyy HH:mm:ss'}}</div>
						<div class="label">Modelo de Avaliação: {{measurementFramework.name}}</div>
						<div class="display-flex">
							<div class="label flex">Nome da Organização: {{getCompany.name}}</div>
							<div class="label">Área de Atuação: {{getCompany.occupationArea}}</div>
						</div>
						<div class="display-flex">
							<div class="label flex">Quantidade de Colaboradores: {{getCompany.contributors}}</div>
							<div class="label">Quantidade de projetos: {{getCompany.projects}}</div>
						</div>
						<div class="label justify">Resultado da Avaliação: <span
							class="result">{{getAssessmentResult}}</span></div>
					</mat-card-content>
				</mat-card>

				<mat-card *ngFor="let levelResult of assessment.jsonAssessment.levelResults">
					<mat-card-title class="title-card">
						{{levelResult.classification.name}}
					</mat-card-title>
					<mat-card-content>
						<mat-accordion>
							<mat-expansion-panel *ngFor="let processResult of levelResult.processes">
								<mat-expansion-panel-header class="expansion-panel-header">
									<div class="col-md-12 content-card">
										<div class="col-md-8 border-right">
											{{processResult.process.prefix + ' - ' + processResult.process.name}}
										</div>
										<div class="col-md-4">{{processResult.result}}</div>
									</div>
								</mat-expansion-panel-header>
							</mat-expansion-panel>
						</mat-accordion>
					</mat-card-content>
				</mat-card>

				<div class="display-flex col-md-12">
					<div
						*ngFor="let levelResult of assessment.jsonAssessment.levelResults; let indexLevelResult = index"
						class="level-result">
						<div *ngIf="indexLevelResult == 0" class="processes">
							<div *ngFor="let process of getLevelResultProcesses(levelResult.processes)"
								 class="level-result-process">
								<div class="process-name">{{process.prefix + '. ' + process.name}}</div>
							</div>
						</div>
						<div>
							{{levelResult.classification.name}}
							<div class="display-flex">
								<div class="rating-process-attribute"
									 *ngFor="let ratingsByProcessAttribute of getRatingsByProcessAttribute(levelResult); let i = index">
									<div class="process-attribute-name">
										{{ratingsByProcessAttribute.processAttribute.prefix + " " + ratingsByProcessAttribute.processAttribute.name}}
									</div>
									<div *ngFor="let rating of ratingsByProcessAttribute.ratings" class="border-rating">
										<span class="rating-value">{{rating.name}}</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<button mat-raised-button class="btn btn-outline-secondary" matStepperPrevious>Voltar</button>
				<button mat-raised-button [routerLink]="['/assessment']" class="btn btn-outline-danger">Cancelar
				</button>
			</div>
		</form>
	</mat-step>
</mat-horizontal-stepper>
