<loading [isLoading]="loading"></loading>

<h2>Avaliação</h2>

<mat-horizontal-stepper [linear]="true" #stepper class="register-assessment">
	<ng-template matStepperIcon="edit">
		<i class="fa fa-edit"></i>
	</ng-template>
	<ng-template matStepperIcon="done">
		<i class="fa fa-check"></i>
	</ng-template>
	<mat-step [stepControl]="assessmentForm">
		<form [formGroup]="assessmentForm">
			<ng-template matStepLabel>Selecione um método de avaliação</ng-template>
			<div class="form-group" formGroupName="jsonAssessment">
				<mat-form-field class="full-width-input">
					<mat-select placeholder="Método de Avaliação" formControlName="measurementFramework"
								(selectionChange)="changeMeasurementFramework($event.value)"
								[disabled]="!!idAssessment">
						<div *ngIf="!idAssessment">
							<mat-option *ngFor="let measurementFramework of measurementFrameworks"
										[value]="measurementFramework">
								{{measurementFramework.name}}
							</mat-option>
						</div>
						<mat-option *ngIf="idAssessment && measurementFramework" [value]="measurementFramework"
									disabled>
							{{measurementFramework.name}}
						</mat-option>
					</mat-select>
				</mat-form-field>
				<mat-error *ngIf="submitted && f.jsonAssessment.controls.measurementFramework.errors?.required">
					Método de Avaliação é obrigatório
				</mat-error>
			</div>

			<div class="form-group" formGroupName="jsonAssessment" *ngIf="measurementFramework">
				<mat-form-field class="full-width-input">
					<mat-select placeholder="Nível Alvo" formControlName="targetLevel"
								(selectionChange)="changeTargetLevel($event.value)" [disabled]="!!idAssessment">
						<div *ngIf="!idAssessment">
							<mat-option *ngFor="let classification of measurementFramework.classifications"
										[value]="classification">
								{{classification.name}}
							</mat-option>
						</div>
						<mat-option *ngIf="idAssessment && classification" [value]="classification" disabled>
							{{classification.name}}
						</mat-option>
					</mat-select>
				</mat-form-field>
				<mat-error *ngIf="submitted && f.jsonAssessment.controls.targetLevel.errors?.required">
					Nível alvo é obrigatório
				</mat-error>
			</div>

			<div class="form-group">
				<button mat-raised-button class="btn btn-outline-danger" [routerLink]="['/assessment']">
					Cancelar
				</button>
				<button mat-raised-button class="mat-raised-button btn btn-outline-secondary" (click)="checkForms()"
						matStepperNext>Próximo
				</button>
			</div>
		</form>
	</mat-step>
	<div *ngIf="measurementFramework && referenceModel && processes && processAttributes">
		<mat-step [stepControl]="assessmentForm" *ngFor="let process of processes; let indexProcess = index">
			<form [formGroup]="assessmentForm">
				<ng-template matStepLabel>{{process.name}}</ng-template>
				<div class="form-group">
					<mat-card *ngIf="hasQuestions(process)" class="card-process">
						<mat-card-content>
							<div class="process-title">{{process.name}}</div>
							<div class="purpose">{{process.purpose}}</div>
							<question-assessment [resultForms]="getResultForms.value"
												 [questions]="getQuestions(process)"
												 [prefix]="process.prefix"
												 [finish]="isFinish"
												 [scaleValues]="scaleValues">
							</question-assessment>
						</mat-card-content>
					</mat-card>
				</div>
				<div class="form-group">
					<button mat-raised-button class="btn btn-outline-secondary" matStepperPrevious>Voltar</button>
					<span *ngIf="!openResult && isLastProcess(indexProcess); else buttonNext">
					<button mat-raised-button (click)="onSubmit()" [disabled]="loading"
							class="btn btn-outline-success save-button">Salvar
					</button>
					<button mat-raised-button (click)="finish(stepper)" [disabled]="loading"
							class="btn btn-outline-success save-button">Salvar e Finalizar
					</button>
				</span>
					<ng-template #buttonNext>
						<button mat-raised-button class="mat-raised-button btn btn-outline-secondary"
								(click)="checkForms()"
								matStepperNext>Próximo
						</button>
					</ng-template>
				</div>
			</form>
		</mat-step>
	</div>

	<mat-step [stepControl]="assessmentForm" *ngIf="openResult">
		<form [formGroup]="assessmentForm" *ngIf="assessment?.jsonAssessment?.levelResults">
			<ng-template matStepLabel>Resultado da avaliação</ng-template>
			<div class="form-group">
				Resultado

				<mat-card *ngFor="let levelResult of assessment.jsonAssessment.levelResults">
					<mat-card-title class="title-card">
						{{levelResult.classification.name}}
					</mat-card-title>
					<mat-card-content>
						<div *ngFor="let processResult of levelResult.processes">
							<div class="col-md-12 content-card">
								<div class="col-md-8 border-right">{{processResult.process.name}}</div>
								<div class="col-md-4">{{processResult.result}}</div>
							</div>

						</div>
					</mat-card-content>
				</mat-card>
			</div>
		</form>
	</mat-step>
</mat-horizontal-stepper>
