.save-button {
	margin-right: 5px !important;
}

.padding-right {
	padding-right: 10px;
}

.purpose {
	padding-bottom: 10px;
	text-align: justify !important;
	color: #808080;
}

.mat-card {
	margin: 0 0 10px;
	max-width: 100%;

	.mat-card-content {
		text-align: left;
	}
}

.card-process {
	margin: 0 0 0 !important;
}
