<loading [isLoading]="loading"></loading>

<h2>Avaliação</h2>

<mat-vertical-stepper [linear]="true" #stepper class="register-assessment">
	<ng-template matStepperIcon="edit">
		<i class="fa fa-edit"></i>
	</ng-template>
	<ng-template matStepperIcon="done">
		<i class="fa fa-check"></i>
	</ng-template>
	<mat-step [stepControl]="assessmentForm">
		<form [formGroup]="assessmentForm">
			<ng-template matStepLabel>Selecione um modelo de avaliação</ng-template>
			<div class="form-group" formGroupName="jsonAssessment">
				<mat-form-field class="full-width-input">
					<mat-select placeholder="Modelo de Avaliação" formControlName="measurementFramework"
								(selectionChange)="changeMeasurementFramework($event.value)"
								[disabled]="!!idAssessment">
						<div *ngIf="!idAssessment">
							<mat-option *ngFor="let measurementFramework of measurementFrameworks"
										[value]="measurementFramework">
								{{measurementFramework.name}}
							</mat-option>
						</div>
						<mat-option *ngIf="idAssessment && measurementFramework" [value]="measurementFramework"
									disabled>
							{{measurementFramework.name}}
						</mat-option>
					</mat-select>
				</mat-form-field>
				<mat-error *ngIf="submitted && f.jsonAssessment.controls.measurementFramework.errors?.required">
					Modelo de Avaliação é obrigatório
				</mat-error>
			</div>

			<div class="form-group" formGroupName="jsonAssessment" *ngIf="measurementFramework">
				<mat-form-field class="full-width-input">
					<mat-select placeholder="Nível Alvo" formControlName="targetLevel"
								(selectionChange)="changeTargetLevel($event.value)" [disabled]="!!idAssessment">
						<div *ngIf="!idAssessment">
							<mat-option
								*ngFor="let classification of measurementFramework.classifications; let indexClassification = index"
								[value]="classification">
								{{indexClassification + 1 + '. ' + classification.name}}
							</mat-option>
						</div>
						<mat-option *ngIf="idAssessment && classification" [value]="classification" disabled>
							{{classification.name}}
						</mat-option>
					</mat-select>
				</mat-form-field>
				<mat-error *ngIf="submitted && f.jsonAssessment.controls.targetLevel.errors?.required">
					Nível alvo é obrigatório
				</mat-error>
			</div>

			<div class="form-group" formGroupName="jsonAssessment" *ngIf="processes">
				<mat-form-field class="full-width-input">
					<mat-select placeholder="Selecione os processos para avaliação" multiple
								formControlName="processToAssessment"
								[disabled]="!!idAssessment" class="process-to-assessment">
						<mat-option *ngFor="let process of processes"
									[value]="process.idProcess">
							<span>{{process.prefix + '. ' + process.name}}</span>
							<span class="process-purpose">{{process.purpose}}</span>
						</mat-option>
					</mat-select>
				</mat-form-field>
			</div>

			<div class="form-group">
				<button mat-raised-button class="btn btn-outline-danger" [routerLink]="['/assessment']">
					Cancelar
				</button>
				<button mat-raised-button class="mat-raised-button btn btn-outline-secondary" (click)="nextFirstPage()"
						matStepperNext>Próximo
				</button>
			</div>
		</form>
	</mat-step>
	<div *ngIf="measurementFramework && referenceModel && processes && processAttributes">
		<mat-step [stepControl]="assessmentForm"
				  *ngFor="let process of processesToAssessment; let indexProcess = index">
			<form [formGroup]="assessmentForm" id="{{'process' + indexProcess}}">
				<ng-template matStepLabel>{{process.prefix + '. ' + process.name}}</ng-template>
				<div *ngIf="isTurn(indexProcess)">
					<div class="form-group">
						<mat-card *ngIf="hasQuestions(process)" class="card-process">
							<mat-card-content>
								<div class="process-title">{{process.prefix + '. ' + process.name}}</div>
								<div class="purpose">{{process.purpose}}</div>
								<question-assessment [resultForms]="getResultForms.value"
													 [questions]="getQuestions(process)"
													 [process]="process"
													 [finish]="checkProcess[indexProcess]"
													 [ratings]="ratings">
								</question-assessment>
							</mat-card-content>
						</mat-card>
					</div>
					<div class="form-group">
						<button mat-raised-button class="btn btn-outline-secondary"
								(click)="previousProcess(indexProcess, process, stepper)">Voltar
						</button>
						<span *ngIf="isLastProcess(indexProcess); else buttonNext">
							<button mat-raised-button (click)="finish(indexProcess, process.idProcess)" [disabled]="loading"
								class="btn btn-outline-success save-button">Salvar e Finalizar
							</button>
						</span>
						<ng-template #buttonNext>
							<button mat-raised-button class="mat-raised-button btn btn-outline-secondary"
									(click)="nextProcess(indexProcess, process, stepper)">Próximo
							</button>
						</ng-template>
						<button mat-raised-button (click)="onSubmit()" [disabled]="loading"
								class="btn btn-outline-success save-button">Salvar
						</button>
					</div>
				</div>
			</form>
		</mat-step>
	</div>
</mat-vertical-stepper>
