<loading [isLoading]="loading"></loading>

<h2>Resultado da Avaliação</h2>

<div class="form-group" *ngIf="assessment">
	<mat-card>
		<mat-card-title class="title-cards">
			Dados da avaliação
		</mat-card-title>
		<mat-card-content>
			<div class="label">Data da Avaliação: {{getDate | date:'dd/MM/yyyy HH:mm:ss'}}</div>
			<div class="label">Modelo de Avaliação: {{measurementFramework.name}}</div>
			<div class="display-flex">
				<div class="label flex">Nome da Organização: {{getCompany.name}}</div>
				<div class="label">Área de Atuação: {{getCompany.occupationArea}}</div>
			</div>
			<div class="display-flex">
				<div class="label flex">Quantidade de Colaboradores: {{getCompany.contributors}}</div>
				<div class="label">Quantidade de projetos: {{getCompany.projects}}</div>
			</div>
			<div class="label justify">Resultado da Avaliação: <span
				class="result">{{getAssessmentResult}}</span></div>
		</mat-card-content>
	</mat-card>

	<div class="box-shadow">
		<div class="title-card-maturity">Nível de Maturidade / Processo</div>
		<div class="class-table">
			<div class="display-flex col-md-12">
				<div
					*ngFor="let levelResult of assessment.jsonAssessment.levelResults; let indexLevelResult = index"
					class="level-result">
					<div *ngIf="indexLevelResult == 0" class="processes">
						<div *ngFor="let process of getLevelResultProcesses(levelResult.processes)"
							 class="level-result-process">
							<div class="process-name">{{process.prefix + '. ' + process.name}}</div>
						</div>
					</div>
					<div>
						{{levelResult.classification.name}}
						<div class="display-flex">
							<div class="rating-process-attribute"
								 *ngFor="let ratingsByProcessAttribute of getRatingsByProcessAttribute(levelResult, indexLevelResult); let i = index">
								<div class="process-attribute-name">
									{{ratingsByProcessAttribute.processAttribute.prefix}}
								</div>
								<div *ngFor="let rating of ratingsByProcessAttribute.ratings" class="border-rating"
									 [ngClass]="rating.color">
									<span class="rating-value">{{rating.rating.name[0]}}</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="legend-class box-shadow class-table">
			<div class="col-md-12">Legenda:</div>
			<div class="display-flex col-md-12 legend-class-content">
				<div class="legend-rating-view col-md-3">
					<div>Avaliação:</div>
					<span *ngFor="let rating of assessment.jsonAssessment.measurementFramework.ratings"
						  class="rating-legend-value">
				<span class="legend-color" [ngClass]="getColor(rating.id)"></span>
						{{rating.name[0] + ' - ' + rating.name}}
			</span>
				</div>
				<div class="legend-process-attribute-view col-md-9">
					<div>Atributos de Processo:</div>
					<span *ngFor="let processAttribute of processAttributes"
						  class="rating-legend-value">
				{{processAttribute.prefix + ' - ' + processAttribute.name}}
			</span>
				</div>
			</div>
		</div>

	</div>

	<div class="display-flex box-shadow" *ngIf="highcharts && chartOptions">
		<div class="box-shadow margin-right-10 col-md-7">
			<highcharts-chart update
							  [Highcharts]="highcharts"
							  [options]="chartOptions">
			</highcharts-chart>
			<div class="box-shadow legend-view">
			<span *ngFor="let rating of assessment.jsonAssessment.measurementFramework.ratings"
				  class="rating-legend-value">
				<span class="legend-color" [ngClass]="getColor(rating.id)"></span>
				{{rating.name[0] + ' - ' + rating.name}}
			</span>
			</div>
		</div>

		<div class="display-block col-md-5">
			<mat-card *ngFor="let levelResult of assessment.jsonAssessment.levelResults.reverse()">
				<mat-card-title class="title-cards">
					{{levelResult.classification.name}}
				</mat-card-title>
				<mat-card-content>
					<mat-accordion>
						<mat-card *ngFor="let processResult of levelResult.processes" class="card-process-result"
								  [matTooltip]="'Clique para abrir os resultados do processo: ' +processResult.process.prefix + ' - ' + processResult.process.name  "
								  (click)="openResultDialog(levelResult, processResult)">
							<mat-card-header class="expansion-panel-header">
								<div class="col-md-12 content-card">
									<div class="col-md-8 border-right text-justify">
										{{processResult.process.prefix + ' - ' + processResult.process.name}}
									</div>
									<div class="col-md-4">{{processResult.result}}</div>
								</div>
							</mat-card-header>
						</mat-card>
					</mat-accordion>
				</mat-card-content>
			</mat-card>
		</div>
	</div>
</div>
<div class="form-group">
	<button mat-raised-button [routerLink]="['/assessment']" class="btn btn-outline-danger">Voltar
	</button>
</div>
