<div *ngIf="isLoggedIn$ && isUserIn | async">
	<mat-toolbar class="col-md-12">
		<button mat-icon-button [matMenuTriggerFor]="menu" matTooltip="Clique para abrir o menu"><i
			class="fa fa-bars"></i></button>
		<mat-menu #menu="matMenu">
			<button mat-menu-item [routerLink]="['/']">
				<i class="icon fa fa-home"></i>
				<span>Início</span>
			</button>
			<button mat-menu-item [routerLink]="['/company', getUser.idCompany]">
				<i class="icon fa fa-building"></i>
				<span>Organização</span>
			</button>
			<button mat-menu-item *ngIf="getUser.role === 'ADM'"
					[routerLink]="['/reference-model']">
				<i class="icon fa fa-book"></i>
				<span>Modelo de Referência</span>
			</button>
			<button mat-menu-item *ngIf="getUser.role === 'ADM'"
					[routerLink]="['/measurement-framework']">
				<i class="icon fa fa-clipboard"></i>
				<span>Método de Avaliação</span>
			</button>
			<button mat-menu-item [routerLink]="['/assessment']">
				<i class="icon fa fa-tasks"></i>
				<span>Avaliação</span>
			</button>
		</mat-menu>
		<span>Self-Assessment Tool</span>
		<span class="example-fill-remaining-space"></span>
		<span>{{getUser.name}}</span>
		<button mat-icon-button [matMenuTriggerFor]="matMenu">
			<i class="fa fa-cog"></i>
		</button>
		<mat-menu #matMenu>
			<button mat-menu-item [routerLink]="['/user', getUser.idUser]">
				<i class="icon fa fa-user"></i>
				<span>Editar usuário</span>
			</button>
			<button mat-menu-item (click)="onLogout()">
				<i class="icon fa fa-sign-out"></i>
				<span>Logout</span>
			</button>
		</mat-menu>
	</mat-toolbar>
</div>
