<div *ngIf="isLoggedIn$ && isUserIn | async">
	<mat-toolbar class="col-md-12">
		<button mat-icon-button (click)="snav.toggle()"><i class="fa fa-bars"></i></button>
		<span>Self-Assessment Tool</span>
		<span class="example-fill-remaining-space"></span>
		<span>{{getUser.name}}</span>
		<button mat-icon-button [matMenuTriggerFor]="menu">
			<i class="fa fa-cog"></i>
		</button>
		<mat-menu #menu="matMenu">
			<button mat-menu-item [routerLink]="['/user', getUser.idUser]">
				<i class="icon fa fa-user"></i>
				<span>Editar usuário</span>
			</button>
			<button mat-menu-item (click)="onLogout()">
				<i class="icon fa fa-sign-out"></i>
				<span>Logout</span>
			</button>
		</mat-menu>
	</mat-toolbar>

	<mat-sidenav-container>
		<mat-sidenav #snav [fixedTopGap]="65" [mode]="side" [fixedInViewport]="true">
			<mat-nav-list>
				<button mat-menu-item (click)="snav.close()" [routerLink]="['/company', getUser.idCompany]">
					<i class="icon fa fa-building"></i>
					<span>Organização</span>
				</button>
				<button mat-menu-item (click)="snav.close()" *ngIf="getUser.role === 'ADM'"
						[routerLink]="['/reference-model']">Modelo de Referência
				</button>
				<button mat-menu-item (click)="snav.close()" *ngIf="getUser.role === 'ADM'"
						[routerLink]="['/measurement-framework']">Método de Avaliação
				</button>
				<button mat-menu-item (click)="snav.close()"
						[routerLink]="['/assessment']">Avaliação
				</button>
			</mat-nav-list>
		</mat-sidenav>
	</mat-sidenav-container>
</div>
