.example-section {
	display: flex;
	align-content: center;
	align-items: center;
	height: 60px;
}

.mat-slider-horizontal {
	width: 300px;
}

.mat-slider-vertical {
	height: 300px;
}

.example-radio-group {
	flex-direction: column;
	margin: 15px 0;
}

.example-radio-button {
	width: 20%;
	text-align: center;

	.mat-radio-outer-circle, .mat-radio-inner-circle {
		height: 15px;
		width: 15px;
	}
}

.label-padding-left-15 {
	.mat-radio-label {
		padding-left: 20px;
	}
}

.label-padding-left-20 {
	.mat-radio-label {
		padding-left: 20px;
	}
}

.title-card {
	text-align: justify;
	font-size: 15px;
	font-weight: bold;
}

.error-padding-bottom {
	padding-bottom: 10px;
}

.link {
	cursor: pointer;
	color: #17a2b8;
}

.header-group {
	width: 100%;
	display: flex;
	margin-left: 74%;
	padding-bottom: 10px;

	.header {
		width: 7%;
		font-size: 10px;
	}
}

.question-name {
	width: 100%;
	text-align: justify;
	font-size: 13px;
}

.question-divider {
	margin-top: -2px !important;
}
