<mat-card>
	<mat-card-content>
		<div class="header-group" [ngClass]="getClassHeaderGroup(ratings)">
			<div class="header" *ngFor="let rating of ratings">{{rating.mappedName}}</div>
		</div>
		<div *ngFor="let question of questions; let i = index" class="display-flex">
			<div class="question-name">
				<span>
					{{i + 1 + '. ' + question.name}}
					<span *ngIf="question.tip">
					<i *ngIf="isLink(question.tip); else tip" class="fa fa-info-circle link"
					   (click)="openLink(question.tip)"
					   matTooltip="Clique para abrir"></i>
				<ng-template #tip>
					<i *ngIf="question.tip" class="fa fa-info-circle" [matTooltip]="question.tip"></i>
				</ng-template>
				</span>
				</span>
			</div>
			<div style="width: 50%; text-align: end;margin: auto;">
				<form [formGroup]="getFormByIdQuestion(question)">
					<div class="form-questions">
						<mat-radio-group formControlName="value"
										 (change)="confirmResult(question)"
										 class="example-radio-group">
							<mat-radio-button *ngFor="let rating of ratings" class="example-radio-button label-padding-left-20" [value]="rating.id"
											  [matTooltip]="getTooltip(question, rating)"
											  [matTooltipDisabled]="displayNoneRadioButton(question, rating)"
											  [ngClass]="displayNoneRadioButton(question, rating) ? 'display-none': ''">
							</mat-radio-button>
						</mat-radio-group>
					</div>
					<mat-error class="error-padding-bottom"
							   *ngIf="finish && getFormByIdQuestion(question).controls.value.errors?.required">
						Questão obrigatória
					</mat-error>
				</form>
			</div>

			<mat-divider class="question-divider"></mat-divider>
		</div>
	</mat-card-content>
</mat-card>
