.example-section {
	display: flex;
	align-content: center;
	align-items: center;
	height: 60px;
}

.mat-slider-horizontal {
	width: 300px;
}

.mat-slider-vertical {
	height: 300px;
}

.example-radio-group {
	flex-direction: column;
	margin: 15px 0;
}

.example-radio-button {
	margin: 5px;
}

.title-card {
	text-align: justify;
	font-size: 15px;
	font-weight: bold;
}

.error-padding-bottom {
	padding-bottom: 10px;
}

.link {
	cursor: pointer;
	color: #17a2b8;
}
