<div *ngFor="let question of questions; let i = index">
	<span>{{i+1 + '. ' + question.name}}</span>
	<form [formGroup]="questionAssessmentForms[i]">
		<div *ngIf="question.type === 'boolean'">
			<mat-radio-group formControlName="value" (change)="confirmResult(i)">
				<mat-radio-button value="true" class="padding-right">
					Verdadeiro
				</mat-radio-button>
				<mat-radio-button value="false">
					Falso
				</mat-radio-button>
			</mat-radio-group>
		</div>
		<div *ngIf="question.type === 'scale-nominal'">
			<mat-radio-group formControlName="value"
							 (change)="confirmResult(i)"
							 aria-labelledby="example-radio-group-label"
							 class="example-radio-group">
				<mat-radio-button class="example-radio-button" value="1">
					Não ainda
				</mat-radio-button>
				<mat-radio-button class="example-radio-button" value="2">
					Não implementado
				</mat-radio-button>
				<mat-radio-button class="example-radio-button" value="3">
					Parcialmente implementado
				</mat-radio-button>
				<mat-radio-button class="example-radio-button" value="4">
					Largamente implementado
				</mat-radio-button>
				<mat-radio-button class="example-radio-button" value="5">
					Totalmente implementado
				</mat-radio-button>
			</mat-radio-group>
		</div>
	</form>
</div>
