.save-button {
	margin-right: 5px !important;
}

.mat-step-label {
	white-space: normal !important;
}

.button-save {
	margin-top: 10px;
}

.full-width-card {
	margin: 0;
	max-width: 100%;
}

.rating-value {
	font-size: 10px;
}

.process-attribute-name {
	font-size: 10px;
	word-break: break-word;
	width: 60px;
}

.level-result {
	text-align: center;
	display: flex;
	padding-right: 2px;

	.rating-process-attribute {
		.border-rating {
			height: 30px;
			border: 1px solid #909090;
			border-radius: 3px;
			margin-bottom: 5px;
		}
	}

	.rating-process-attribute:nth-last-child(n + 2) {
		.border-rating {
			border-right: 0 !important;
		}
	}
}

.box-shadow {
	box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
	margin: 0 0 10px;
}

.processes {
	padding-top: 45px;

	.level-result-process {
		.process-name {
			width: 170px;
			height: 35px;
			font-size: 10px;
			word-break: break-word;
		}
	}
}

.card-process-result {
	margin-bottom: 3px !important;
	padding: 5px !important;
	cursor: pointer;
}

.rating-legend {
	font-size: 13px;
	height: 50%;
}
