<h1 mat-dialog-title>Valores Avaliação</h1>
<div mat-dialog-content>
	<div class="col-md-12 display-flex padding-left-zero">
		<div class="col-md-4 padding-zero">Nome</div>
		<div class="col-md-4 padding-left-one">Nome mapeado na avaliação</div>
		<div class="col-md-2">Mínimo</div>
		<div class="col-md-2">Máximo</div>
	</div>
	<div class="content">
		<div *ngFor="let rating of data; let i = index">
			<div class="col-md-12 scale-value display-flex">
				<input class="input-value col-md-3" spellcheck="false" [(ngModel)]="rating.name" required/>
				<input class="input-value col-md-4" spellcheck="false" [(ngModel)]="rating.mappedName" required/>
				<input class="value col-md-1 text-center" spellcheck="false" type="number"
					   [(ngModel)]="rating.minValue" required/>
				<input value="%" class="col-md-1 text-center padding-zero percentage" disabled/>
				<input class="value col-md-1 text-center" spellcheck="false" type="number"
					   [(ngModel)]="rating.maxValue" required/>
				<input value="%" class="col-md-1 text-center padding-zero percentage" disabled/>
				<button class="align-self-center col-md-1 btn btn-outline-danger btn-sm"
						matTooltip="Excluir" (click)="deleteRating(i)">
					<i class="fa fa-trash-o"></i>
				</button>
			</div>
		</div>
	</div>
</div>

<div mat-dialog-actions>
	<button mat-button (click)="onNoClick()">Cancelar</button>
	<button mat-raised-button class="btn btn-outline-success confirm-button" (click)="confirm()">
		Confirmar
	</button>
</div>
