.input-value {
	border: 0;
	padding: 0;
}

.value {
	border: 0;
	padding: 0;
	font-size: 14px;
}

.percentage {
	border: 0;
	font-size: 14px;
}

.padding-zero {
	padding: 0;
}

.padding-left-zero {
	padding-left: 0;
}

.scale-value {
	padding: 0;
}

.padding-left-one {
	margin-left: -9%;
}

.input-value:not(:last-child) {
	border-right: 1px solid #909090;
}

.scale-value:not(:last-child) {
	border-bottom: 1px solid #909090;
}

.content {
	border: 1px solid #909090;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input[type="number"] {
	-moz-appearance: textfield;
}
