<h1 mat-dialog-title>Valores Escala Nominal</h1>
<div mat-dialog-content>
	<div class="content">
		<div class="scale-value" *ngFor="let scaleValue of data">
			<input class="input-value" spellcheck="false" [(ngModel)]="scaleValue.value" required/>
			<input class="input-value" spellcheck="false" [value]="scaleValue.mappedValue" disabled/>
		</div>
	</div>
</div>

<div mat-dialog-actions>
	<button mat-button (click)="onNoClick()">Cancelar</button>
	<button mat-raised-button class="btn btn-outline-success confirm-button" (click)="confirm()">
		Confirmar
	</button>
</div>
