<h1 mat-dialog-title>Process Register</h1>
<div mat-dialog-content>
	<div class="process">
		<div class="process-header">
			<div class="process-header-title">
				<div class="process-header-title-spacer">Process</div>
				<button mat-icon-button type="button" (click)="addProcess()" class="mat-icon-button">
			<span class="mat-button-wrapper">
				<mat-icon class="mat-icon material-icons">
					<i class="fa fa-plus"></i>
				</mat-icon>
			</span>
				</button>
			</div>
		</div>
		<div class="process-body">
			<mat-accordion>
				<mat-expansion-panel *ngFor="let process of data; let i = index">
					<mat-expansion-panel-header ngClass="{{mapCloseAccordion.get(i) ? 'not-active' : ''}}">
						<input matInput value="{{process.name}}" disabled placeholder="Process"/>
						<button mat-icon-button type="button" (click)="deleteProcess(i)"
								class="mat-icon-button active">
							<mat-icon class="mat-icon material-icons">
								<i class="fa fa-remove"></i>
							</mat-icon>
						</button>
					</mat-expansion-panel-header>

					<form [formGroup]="processForms[i]" (ngSubmit)="confirmProcess(i)">
						<mat-panel-title class="padding-top">
							<mat-form-field>
								<input matInput formControlName="name"
									   (change)="formChange(i)" placeholder="Name"/>
							</mat-form-field>
						</mat-panel-title>
						<mat-form-field class="padding-top">
							<input matInput formControlName="purpose"
								   (change)="formChange(i)"
								   placeholder="Purpose"/>
						</mat-form-field>
						<mat-action-row class="action-row">
							<button mat-raised-button [disabled]="loading" class="btn btn-outline-success confirm-button">
								Confirm
							</button>
							<button mat-raised-button [disabled]="loading" (click)="cancelProcess(i)"
									class="btn btn-outline-danger">
								Cancel
							</button>
						</mat-action-row>
					</form>
				</mat-expansion-panel>
			</mat-accordion>
		</div>
	</div>
</div>
<div mat-dialog-actions>
	<button mat-button (click)="onNoClick()">No Thanks</button>
	<button mat-button [mat-dialog-close]="data">Ok</button>
</div>
