<h1 mat-dialog-title>Registro de Processos</h1>
<div mat-dialog-content class="dialog-process">
	<div class="process">
		<div class="process-header">
			<div class="process-header-title">
				<div class="process-header-title-spacer">Processos</div>
				<button mat-stroked-button type="button" (click)="addProcess()" class="mat-stroked-button">
			<span class="mat-button-wrapper">
				Adicionar
				<i class="fa fa-plus"></i>
			</span>
				</button>
			</div>
		</div>
		<div class="process-body">
			<mat-accordion>
				<mat-expansion-panel *ngFor="let process of data; let i = index" #met>
					<mat-expansion-panel-header>
						<input spellcheck="false" matInput
							   value="{{(i + 1) + '. '+ (process.name ? process.name : '')}}" disabled
							   placeholder="Processo"/>
						<button mat-icon-button type="button" (click)="deleteProcess(i)"
								class="mat-icon-button active">
							<mat-icon class="mat-icon material-icons" matTooltip="Excluir">
								<i class="fa fa-trash"></i>
							</mat-icon>
						</button>
					</mat-expansion-panel-header>

					<mat-horizontal-stepper [linear]="true" #stepper>
						<ng-template matStepperIcon="edit">
							<i class="fa fa-edit"></i>
						</ng-template>
						<ng-template matStepperIcon="done">
							<i class="fa fa-check"></i>
						</ng-template>
						<mat-step [stepControl]="processForms[i]">
							<form [formGroup]="processForms[i]">
								<ng-template matStepLabel>Preencha o nome e o objetivo</ng-template>
								<div class="form-group">
									<div class="display-flex">
										<mat-form-field class="col-md-2">
											<input matInput spellcheck="false" formControlName="prefix"
												   placeholder="Identificador"/>
										</mat-form-field>
										<mat-error *ngIf="submitted && processForms[i].controls.prefix.errors">
											Identificador é obrigatório
										</mat-error>
										<mat-form-field class="col-md-10">
											<input matInput spellcheck="false" formControlName="name"
												   (blur)="createPrefix($event.target.value, i)"
												   placeholder="Nome"/>
										</mat-form-field>
										<mat-error *ngIf="submitted && processForms[i].controls.name.errors">Nome é
											obrigatório
										</mat-error>
									</div>

									<mat-form-field class="padding-top col-md-12">
										<textarea matInput
												  cdkTextareaAutosize
												  cdkAutosizeMinRows="1"
												  cdkAutosizeMaxRows="5"
												  formControlName="purpose"
												  placeholder="Objetivo"></textarea>
									</mat-form-field>
								</div>
								<div class="form-group">
									<button mat-raised-button (click)="met.close()"
											class="btn btn-outline-danger">
										Cancelar
									</button>
									<button mat-raised-button class="btn btn-outline-secondary" matStepperNext>Próximo
									</button>
								</div>
							</form>
						</mat-step>
						<mat-step [stepControl]="processForms[i]">
							<ng-template matStepLabel>Preencha os resultados esperados</ng-template>

							<form [formGroup]="processForms[i]" class="padding-bottom">
								<expected-result formArrayName="expectedResults"
												 [prefix]="processForms[i].controls['prefix']?.value"
												 [expectedResults]="process.expectedResults"
												 (onConfirmExpectedResults)="confirmExpectedResults($event, process, i)">
								</expected-result>
							</form>

							<div class="form-group">
								<button mat-raised-button class="btn btn-outline-secondary" matStepperPrevious>Voltar
								</button>
								<button mat-raised-button (click)="confirmProcess(i)"
										class="btn btn-outline-success save-button">Salvar
								</button>
							</div>
						</mat-step>
					</mat-horizontal-stepper>
				</mat-expansion-panel>
			</mat-accordion>
		</div>
	</div>
</div>
<div mat-dialog-actions>
	<button mat-button (click)="onNoClick()">Cancelar</button>
	<button mat-button [mat-dialog-close]="data">Salvar</button>
</div>
