.process-attributes {

	.div-label {
		flex: 1;
	}

	.div-button-label {
		margin-bottom: 10px;
	}

	.label {
		color: #8f8f8f;
		padding-right: 5px;
	}

	.padding-bottom {
		padding-bottom: 10px;
	}

	.process-attributes-body {

		.margin-top {
			padding-top: 20px;
		}

		.process-button {
			padding-bottom: 10px;
			padding-left: 15px;
		}

		.action-row {
			padding-top: 10px;
			padding-bottom: 0;
		}

		.not-active {
			pointer-events: none;
			cursor: default;
		}

		.active {
			pointer-events: all !important;
			cursor: pointer;
		}

		.confirm-button {
			margin-right: 5px;
		}
	}
}
