<div class="process-attributes">
	<div class="col-md-12 display-flex div-button-label">
		<div class="padding-bottom div-label">
			<span class="label">Atributos de Processo</span>
		</div>
		<button mat-stroked-button type="button" (click)="addProcessAttribute()" class="btn btn-outline-secondary btn-sm">
			Adicionar atributo de processo
			<i class="fa fa-plus"></i>
		</button>
	</div>
	<div class="process-attributes-body col-md-12">
		<mat-accordion>
			<mat-expansion-panel *ngFor="let processAttribute of processAttributes; let i = index">
				<mat-expansion-panel-header>
					<input matInput value="{{processAttribute.prefix ? processAttribute.prefix + ' ' + processAttribute.name : ''}}" disabled placeholder="Nome"/>
					<button mat-icon-button type="button" (click)="deleteProcessAttribute(i)"
							class="mat-icon-button active">
						<mat-icon class="mat-icon material-icons" matTooltip="Excluir">
							<i class="fa fa-trash"></i>
						</mat-icon>
					</button>
				</mat-expansion-panel-header>

				<form [formGroup]="getProcessAttributeForm(i)" (ngSubmit)="confirmProcessAttribute(i)">
					<div class="display-flex">
						<mat-form-field class="col-md-2">
							<input matInput formControlName="prefix" placeholder="Identificador"/>
						</mat-form-field>
						<mat-error *ngIf="submitted && getProcessAttributeForm(i).controls.prefix.errors">Identificador é
							obrigatório
						</mat-error>
						<mat-form-field class="col-md-10">
							<input matInput formControlName="name" placeholder="Nome"/>
						</mat-form-field>
						<mat-error *ngIf="submitted && getProcessAttributeForm(i).controls.name.errors">Nome é
							obrigatório
						</mat-error>
					</div>
					<mat-form-field class="col-md-12">
					<textarea matInput
							  cdkTextareaAutosize
							  cdkAutosizeMinRows="1"
							  cdkAutosizeMaxRows="5"
							  formControlName="description"
							  placeholder="Descrição"></textarea>
					</mat-form-field>

					<mat-form-field class="col-md-12">
						<mat-select [(ngModel)]="processAttribute.ratings" placeholder="Avaliação" multiple
									[ngModelOptions]="{standalone: true}">
							<mat-option *ngFor="let rating of ratings" [value]="rating.id">
								{{rating.name}}
							</mat-option>
						</mat-select>
					</mat-form-field>

					<process-attribute-value [formGroup]="getProcessAttributeForm(i)"
											 [values]="processAttribute.values">
					</process-attribute-value>

					<mat-action-row class="action-row">
						<button mat-raised-button class="btn btn-outline-secondary btn-sm">
							Cancelar
						</button>
						<button mat-raised-button
								class="btn btn-outline-secondary btn-sm confirm-button">
							Confirmar
						</button>
					</mat-action-row>
				</form>
			</mat-expansion-panel>
		</mat-accordion>
	</div>
</div>
