<loading [isLoading]="loading"></loading>

<div class="home">
	<mat-card>
		<mat-card-content>
			<div class="title-framework">
				<div class="title">
					<img class="logo" src="../../styles/logo.png"/>
					GSEAT - Generic Self-Assessment Tool
					<img class="logo-ufsc" src="../../styles/ufsc.png"/>
				</div>
			</div>
			<mat-divider></mat-divider>
			<h6 class="description">GSEAT é uma ferramenta genérica de autoavaliação que permite que organizações,
				independente
				do tamanho, possam se auto avaliar em relação ao alinhamento dos seus processos de desenvolvimento de
				software
				aos resultados esperados do perfil de uma norma ou modelo de referência, seja ele ágil ou
				tradicional.</h6>

			<div class="col-md-12">
				<div class="display-flex">
					<div class="col-md-6">

						<i class="icon fa fa-book"></i>
						<span class="font-weight-bold">Modelos disponíveis: </span>
						<div *ngFor="let measurementFramework of measurementFrameworks">
							- {{measurementFramework.name}}
						</div>
					</div>
					<div class="col-md-6">
						<button class="btn btn-outline-secondary btn-lg" type="button"
								[routerLink]="['/assessment/register']">
							Iniciar nova Avaliação
						</button>
					</div>
				</div>
				<div class="webkit-center" *ngIf="highcharts && chartOptions && assessments.length">
					<highcharts-chart
						[Highcharts]="highcharts"
						[options]="chartOptions">
					</highcharts-chart>
				</div>
			</div>
		</mat-card-content>
	</mat-card>
</div>
