.divider {
	padding-bottom: 10px;
}

.mat-error {
	font-size: 12px;
}

.padding-right {
	padding-right: 10px;
}

.metric-scale {
	width: 50%;

	mat-form-field {
		width: 100%;
	}
}

.botao-excluir {
	margin-left: 3%;
	margin-bottom: 6%;
}

#addMetric {
	float: right;
}
